<div>
    <h1>About: Your Tasks Online</h1>
    <p>
        This website is for you to keep track of your tasks on the web. <br> Storing your tasks on the web allows you to keep track of them at all times, <br> from your phone, tablet or computer.
    </p>
</div>