$color_1: white;
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: $color_1;
    margin-top: 0;
}

div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

div.header {
    background: linear-gradient(to right, #b69191, #8f5b8f, #743750);
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    width: 500px;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    text-align: center;
}

li {
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-left: 0;
        margin-right: 0;
    }
    p {
        font: Georgia, Times New Roman, serif;
        font-size: 1.3rem;
        text-align: center;
    }
    overflow: auto;
    display: flex;
    flex-direction: row;
    &:hover {
        background: #eee;
        cursor: pointer;
    }
}

button {
    float: right;
    border-radius: 7px;
    width: 25vw;
    height: 90%;
    margin-right: -20%;
    margin-left: 10%;
    background: linear-gradient(to right, #644ca8, #8b73b6);
    padding: 5px;
    color: $color_1;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 48%;
    max-height: 20%;
    text-align: center;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}