<div class="header">
    <h1>Your Tasks Online</h1>
    <button routerLink="about"> About </button>
</div>
<div>
    <div>
        <ul>
            <li routerLink="task">
                <div class="card">
                    <img src="../../assets/Images/kacey_o_wd_pro_pic.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Kacey Okafor</b></h4>
                        <p>Web Developer</p>
                    </div>
                </div>
                <div class="column">
                    <h3>Check out the changes I pushed</h3>
                    <p> I worked on a new feature and I believe it is now ready to be merged into the master branch.</p>
                </div>
            </li>



            <li routerLink="task">
                <div class="card">
                    <img src="../../assets/Images/chubby_chigga.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Xie Xing</b></h4>
                        <p>Hip-Hop artist</p>
                    </div>
                </div>
                <div class="column">
                    <h3>New Music Video</h3>
                    <p>We need you to help film our new music video for our rap song: 來/来 </p>
                </div>
            </li>

            <li routerLink="task">
                <div class="card">
                    <img src="../../assets/Images/open_shirt.jpg" alt="Avatar">
                    <div class="container">
                        <h4><b>Ryan</b></h4>
                        <p>Model</p>
                    </div>
                </div>
                <div class="column">
                    <h3>Photoshoot</h3>
                    <p>I need you to take more pictures of me</p>
                </div>
            </li>

            <li routerLink="task">
                <div class="card">
                    <img src="../../assets/Images/sherlock_cheese.png" alt="Avatar">
                    <div class="container">
                        <h4><b>Sherlock Holmes</b></h4>
                        <p>Private Detective</p>
                    </div>
                </div>
                <div class="column">
                    <h3>Murder Case</h3>
                    <p>I seek your assistance in solving yet another murder.</p>
                </div>
            </li>
        </ul>
    </div>
</div>