body,
html {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

img {
    width: 20%;
    height: 20%;
    object-fit: cover;
}

h1 {
    color: white;
    margin-top: 0;
    background: linear-gradient(to right, #b69191, #8f5b8f, #743750);
}

p {
    font: Georgia, Times New Roman, serif;
    font-size: 1.3rem;
}