<div>
    <h1> Task: Murder Case</h1>

    <h2>Status: Incomplete</h2>
    <img src="../../assets/Images/sherlock-ackground.jpg">
    <p>
        A murder was committed yesterday in Walthamstow. <br> There were left no traces of the killer at the crime scene. Or so they think...
        <br>Join me at the crime scene and we shall find our first clue to finding this mystery man.
    </p>

</div>